@import "fonts";

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Railway, sans-serif;
    //background: yellow;
}

h1, h2, h3 {
    font-weight: normal;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.celestina_font {
    font-family: 'Celestina', sans-serif;
}

.btn {
    cursor: pointer;
    font-size: 18px;
    font-family: RailwayBold, sans-serif;
    color: rgb(63, 62, 62);
    padding: 21px 21px 22px 21px;
    background-color: #f4deff;
    border: 3px solid #f4deff;
    border-radius: 35px;
    text-align: center;

    &:hover {
        box-shadow: 0px 22px 23.52px 0.48px rgba(244, 222, 255, 0.45);
    }

    &.main__btn {
        width: 240px;
    }

    &.btn_transparent {
        background-color: transparent;
    }
}

.common-title {
    font-size: 55px;
    font-family: Celestina, sans-serif;
    color: rgb(63, 62, 62);
}

.main {
    background-image: url("../images/bg_main.png");
    background-repeat: no-repeat;
    background-position: right top;
    position: relative;

    &__container {
        position: relative;
        padding: 0 15px;
    }
}

.header {
    display: flex;
    gap: 108px;
    align-items: end;
    padding-top: 6px;
    z-index: 1;
    position: relative;

}

.menu__list {
    list-style: none;
    display: flex;
    gap: 55px;
    margin-bottom: 6px;
}

.menu__item {
    & a {
        text-decoration: none;
        font-size: 18px;
        font-family: RailwayLight, sans-serif;
        color: rgb(63, 62, 62);
    }
}


.main-content {
    display: flex;
    padding-bottom: 337px;

    &__info {
        margin-top: 122px;
        max-width: 600px;
        z-index: 1;

    }

    &__title {
        font-family: RailwayLight, sans-serif;
        font-size: 54px;
        line-height: 1.15;

        & .celestina_font {
            font-size: 55px;
        }
    }

    &__text {
        margin-top: 50px;
        font-size: 20px;
        color: rgb(63, 62, 62);
        line-height: 1.5;
        max-width: 435px;
    }

    &__actions {
        margin-top: 72px;
        display: flex;
        gap: 35px;
    }

    &__image {
        position: absolute;
        right: 40px;
        top: 4px;
        z-index: 0;
    }
}


.about {
    &__container {
        padding: 0 15px;
        display: grid;
        grid-template-columns: auto auto;
        row-gap: 40px;
        column-gap: 50px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__text {
        font-size: 18px;
        color: rgb(63, 62, 62);
        line-height: 1.611;
    }

    &__video {
        & video, & iframe {
            border: 10px solid rgb(244, 222, 255);
            border-radius: 40px;
            object-fit: cover;
            width: 764px;
            height: 374px;
            box-sizing: border-box;
        }

        & video:fullscreen {
            border: none;
            border-radius: unset;
        }
    }

    &__advantages {
        grid-column-start: 1;
        grid-column-end: 3;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    & .about-advantage {
        width: 204px;
        text-align: center;

        &__title {
            font-size: 50px;
            font-family: Celestina, sans-serif;
            color: rgb(143, 127, 151);
        }

        &__text {
            font-size: 18px;
            color: rgb(63, 62, 62);
            line-height: 1.167;
        }
    }
}


.teachers {
    padding-top: 115px;

    &__container {
        padding: 0 15px;
        text-align: center;
    }

    &__text {
        margin: 60px auto 0 auto;
        font-size: 18px;
        color: rgb(63, 62, 62);
        line-height: 1.611;
        max-width: 721px;
    }

    &__carousel {
        margin-top: 60px;
    }


    & .teacher {
        &__proto {
            border: 10px solid rgb(244, 222, 255);
            border-radius: 50%;
            width: 235px;
            height: 235px;
            box-sizing: border-box;
            background-size: cover;
            background-repeat: no-repeat;
        }

        &__name {
            font-size: 20px;
            font-family: RailwayLight, sans-serif;
            color: rgb(63, 62, 62);
            margin-top: 12px;
        }

        &__experience {
            font-family: RailwayMedium, sans-serif;
            font-size: 14px;
        }

        &__experience .celestina_font {
            font-size: 20px;
        }
    }
}


.services {
    padding-top: 115px;

    &__container {
        padding: 0 15px;
        text-align: center;
    }

    &__items {
        margin-top: 54px;
        margin-bottom: 62px;
        display: flex;
        justify-content: center;
        gap: 42px;
        flex-wrap: wrap;
    }

    &__btn {
        width: 360px;
    }
}

.service-item {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &__image {
        width: 268px;
        height: 300px;
        box-sizing: border-box;
        border: 5px solid rgb(244, 222, 255);
        border-radius: 20px;
        background-size: cover;
    }

    &__title {
        font-size: 25px;
        font-family: 'RailwayLight', sans-serif;
        color: rgb(63, 62, 62);
    }
}


.studies {
    &__container {
        padding: 0 7px;
        text-align: center;
    }

    &__items {
        display: flex;
        flex-direction: column;
        gap: 173px;
    }

    & .common-title {
        padding: 108px 0 83px 0;
    }
}


.studio-item {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    grid-template-columns: auto auto;

    &__info {
        width: 473px;
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    &__title {
        font-size: 25px;
        color: rgb(63, 62, 62);
    }

    &__text {
        font-size: 18px;
        color: rgb(63, 62, 62);
        line-height: 1.755;
    }

    &__image {
        width: 614px;
        height: 307px;
        box-sizing: border-box;
        border: 7px solid rgb(244, 222, 255);
        border-radius: 10px;
        overflow: hidden;
        position: relative;

        & img {
            position: absolute;
            bottom: -17%;
            left: -5%;
        }

        &.position-left {
            order: -1;

            & img {
                left: 0;
            }
        }
    }

}

.studies__advantages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 52px;
    margin-top: 184px;

}

.studio-advantage {
    width: 235px;

    &__image {
        height: 83px;
        display: flex;
        justify-content: center;
        align-items: end;
        margin-bottom: 25px;
    }

    &__text {
        line-height: 1.375;
    }

}

.contacts {
    &__container {
        padding: 0 7px;
        text-align: center;
    }

    & .common-title {
        padding: 116px 0 43px 0;
    }

    &__block {
        display: flex;
        flex-wrap: wrap;
    }
}


.registration {
    border: 7px solid rgb(244, 222, 255);
    border-radius: 10px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    width: 472px;
    padding-bottom: 73px;

    &__title {
        font-size: 20px;
        color: rgb(63, 62, 62);
        background-image: url("../images/logo_lotus_flower.png");
        background-repeat: no-repeat;
        background-position: center 5px;
        padding-top: 72px;
        padding-bottom: 46px;

    }

    &__form form {
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }

    & input {
        outline: none;
        width: 347px;
        border: 3px solid #f4deff;
        border-radius: 35px;
        box-sizing: border-box;
        font-size: 18px;
        font-family: RailwayMedium, sans-serif;
        color: rgb(63, 62, 62);
        padding: 22px 26px 21px 26px;


    }

    &__btn {
        width: 347px;
    }
}

// Slick slider styles override

.slick-slide {
    display: flex !important;
    justify-content: center !important;
}

.slick-list {
    max-width: 88%;
    margin: 0 auto;
}

.slick-arrow {
    width: 22px;
    height: 22px;
    top: 110px;
    border-right: 2px solid #cccccc;
    border-top: 2px solid #cccccc;
    box-sizing: border-box;
    transform: rotate(45deg);
}

.slick-next.slick-arrow {
    right: 5px;
}

.slick-prev.slick-arrow {
    left: 5px;
    z-index: 1;
}

.slick-arrow::before {
    content: '';
}

.slick-arrow.slick-prev {
    transform: rotate(-135deg);
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    font-size: 8px;
    color: rgb(202, 130, 237);
}


.slick-dots li button:before {
    color: rgb(202, 130, 237);
}


@media screen and (max-width: 1024px) {
    .about__container {
        display: flex;
        flex-direction: column;
    }

    .about__video {
        max-width: 100%;
        height: auto;

        & video {
            max-width: 100%;
            height: auto;
            border-width: 3px;
            border-radius: 15px;
        }
    }


}

@media screen and (max-width: 1023px) {
    .studies {
        &__items {
            gap: 50px;
        }
    }

    .studio-item {
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;


        & .position-left {
            order: unset;
        }

    }

    .main-content {
        &__image {
            display: none;
        }
    }
}


@media screen and (max-width: 800px) {
    .menu,
             {
        display: none;
    }

    .about {
        & .about-advantage {
            width: 160px;
        }
    }


    .main-content__actions {
        display: none;
    }
}

@media screen and (max-width: 650px) {
    .contacts__map {
        display: none;
    }

    .common-title {
        font-size: 40px;
    }

    .services {
        &__btn {
            width: 260px;
            font-size: 16px;
        }
    }

    .studio-item {

        &__info {

        }

        &__title {

        }

        &__text {

        }

        &__image {
            width: unset;
            height: unset;

            & img {
                position: unset;
                max-width: 100%;
                max-height: 100%;
                margin-bottom: -4px;
            }

        }

    }

    .studies__advantages {
        gap: 10px;
        margin-top: 50px;

    }

    .studio-advantage {
        width: 170px;

        &__image {
            height: 83px;
            display: flex;
            justify-content: center;
            align-items: end;
            margin-bottom: 25px;
        }

        &__text {
            font-size: 15px;
        }
    }

}

@media screen and (max-width: 424px) {
    .registration {

        & input {
            width: 261px;
        }

        &__btn {
            width: 261px;
        }
    }
}