@font-face {
  font-family: Railway;
  src: url("../fonts/Raleway-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: RailwayThin;
  src: url("../fonts/Raleway-Thin.ttf");
}
@font-face {
  font-family: RailwayLight;
  src: url("../fonts/Raleway-Light.ttf");
}
@font-face {
  font-family: RailwayMedium;
  src: url("../fonts/Raleway-Medium.ttf");
}
@font-face {
  font-family: RailwayBold;
  src: url("../fonts/Raleway-Bold.ttf");
}
@font-face {
  font-family: Celestina;
  src: url("../fonts/celestina.ttf");
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Railway, sans-serif;
}

h1, h2, h3 {
  font-weight: normal;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.celestina_font {
  font-family: "Celestina", sans-serif;
}

.btn {
  cursor: pointer;
  font-size: 18px;
  font-family: RailwayBold, sans-serif;
  color: rgb(63, 62, 62);
  padding: 21px 21px 22px 21px;
  background-color: #f4deff;
  border: 3px solid #f4deff;
  border-radius: 35px;
  text-align: center;
}
.btn:hover {
  box-shadow: 0px 22px 23.52px 0.48px rgba(244, 222, 255, 0.45);
}
.btn.main__btn {
  width: 240px;
}
.btn.btn_transparent {
  background-color: transparent;
}

.common-title {
  font-size: 55px;
  font-family: Celestina, sans-serif;
  color: rgb(63, 62, 62);
}

.main {
  background-image: url("../images/bg_main.png");
  background-repeat: no-repeat;
  background-position: right top;
  position: relative;
}
.main__container {
  position: relative;
  padding: 0 15px;
}

.header {
  display: flex;
  gap: 108px;
  align-items: end;
  padding-top: 6px;
  z-index: 1;
  position: relative;
}

.menu__list {
  list-style: none;
  display: flex;
  gap: 55px;
  margin-bottom: 6px;
}

.menu__item a {
  text-decoration: none;
  font-size: 18px;
  font-family: RailwayLight, sans-serif;
  color: rgb(63, 62, 62);
}

.main-content {
  display: flex;
  padding-bottom: 337px;
}
.main-content__info {
  margin-top: 122px;
  max-width: 600px;
  z-index: 1;
}
.main-content__title {
  font-family: RailwayLight, sans-serif;
  font-size: 54px;
  line-height: 1.15;
}
.main-content__title .celestina_font {
  font-size: 55px;
}
.main-content__text {
  margin-top: 50px;
  font-size: 20px;
  color: rgb(63, 62, 62);
  line-height: 1.5;
  max-width: 435px;
}
.main-content__actions {
  margin-top: 72px;
  display: flex;
  gap: 35px;
}
.main-content__image {
  position: absolute;
  right: 40px;
  top: 4px;
  z-index: 0;
}

.about__container {
  padding: 0 15px;
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 40px;
  column-gap: 50px;
}
.about__info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about__text {
  font-size: 18px;
  color: rgb(63, 62, 62);
  line-height: 1.611;
}
.about__video video, .about__video iframe {
  border: 10px solid rgb(244, 222, 255);
  border-radius: 40px;
  object-fit: cover;
  width: 764px;
  height: 374px;
  box-sizing: border-box;
}
.about__video video:fullscreen {
  border: none;
  border-radius: unset;
}
.about__advantages {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  justify-content: space-around;
}
.about .about-advantage {
  width: 204px;
  text-align: center;
}
.about .about-advantage__title {
  font-size: 50px;
  font-family: Celestina, sans-serif;
  color: rgb(143, 127, 151);
}
.about .about-advantage__text {
  font-size: 18px;
  color: rgb(63, 62, 62);
  line-height: 1.167;
}

.teachers {
  padding-top: 115px;
}
.teachers__container {
  padding: 0 15px;
  text-align: center;
}
.teachers__text {
  margin: 60px auto 0 auto;
  font-size: 18px;
  color: rgb(63, 62, 62);
  line-height: 1.611;
  max-width: 721px;
}
.teachers__carousel {
  margin-top: 60px;
}
.teachers .teacher__proto {
  border: 10px solid rgb(244, 222, 255);
  border-radius: 50%;
  width: 235px;
  height: 235px;
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
}
.teachers .teacher__name {
  font-size: 20px;
  font-family: RalewayLight, sans-serif;
  color: rgb(63, 62, 62);
  margin-top: 12px;
}
.teachers .teacher__experience {
  font-family: RailwayMedium, sans-serif;
  font-size: 14px;
}
.teachers .teacher__experience .celestina_font {
  font-size: 20px;
}

.slick-slide {
  display: flex !important;
  justify-content: center !important;
}

.slick-list {
  max-width: 88%;
  margin: 0 auto;
}

.slick-arrow {
  width: 22px;
  height: 22px;
  top: 110px;
  border-right: 2px solid #cccccc;
  border-top: 2px solid #cccccc;
  box-sizing: border-box;
  transform: rotate(45deg);
}

.slick-next.slick-arrow {
  right: 5px;
}

.slick-prev.slick-arrow {
  left: 5px;
  z-index: 1;
}

.slick-arrow::before {
  content: "";
}

.slick-arrow.slick-prev {
  transform: rotate(-135deg);
}

@media screen and (max-width: 1024px) {
  .about__container {
    display: flex;
    flex-direction: column;
  }
  .about__video {
    max-width: 100%;
    height: auto;
  }
  .about__video video {
    max-width: 100%;
    height: auto;
    border-width: 3px;
    border-radius: 15px;
  }
}
@media screen and (max-width: 800px) {
  .menu,
  .services,
  .studies,
  .contacts {
    display: none;
  }
  .about__advantages {
    flex-direction: column;
  }
  .main-content__actions {
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
